*{
    padding: 0;
    margin: 0;
    top: 0;
    box-sizing: border-box;
}
#hero{
    width: 100%;
    height: 540px;
    display: flex;
    flex-direction: column;
    background-image: url('../image/iphones.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    z-index: 1;
}
.topnav{
    width:98%;
    height: 65px;
    background:transparent;
    display: flex;
    margin: 0 auto;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 1px 1px 1px 1px black;
     position: fixed;
    left: 0;
    right: 0;
    z-index: 3;
}
fieldset >input {
    width: 670px;
    height: 18px;
    border-radius: 0;
    background: white;
    border: 1px solid #666;
}

fieldset >input:hover {
    width: 670px;
    height: 18px;
    border-radius: 0;
    background: white;
    border: 1px solid #666;
}
fieldset >button{
    width: 30px;
    height: 16px;
    color: black;
    background: white;
    border: 1px solid black;
}
fieldset{
    border: 0;
    margin-bottom: 5px;
}
.down >span{
    color: #33f;
    font-weight: bold;
    /* line-height: 1.8; */
    font-size: 12px;
    margin-top: 100px;
}

.down >span:hover{
    text-decoration: underline;
}
.down >span >img{
    width:601px;
    height:15px;
}
small{
    color: #666;
    font-size: 9px;
}

.topnav >div:nth-of-type(1){
    width: 110px;
    margin-left: 10px;
    margin-top: 12px;
}
.topnav >div:nth-of-type(2){
    width: 60%;
    height: 62px;
    margin-left: 20px;
}
.topnav >div:nth-of-type(3){
    width: 10%;
    height: 52px;
    font-weight: bold;
}

.topnav >div:nth-of-type(4){
    width: 20%;
    margin-left: 8%;
    margin-top: 0.6%;
}
.fa-caret-right,.fa-caret-left{
    color: #06c;
}
.fa-caret-left{
    margin-left: 25%;;
}
.fa-caret-right{
    margin-left: 25%;;
}
.beside-mid{
    display: flex;
    flex-direction: inherit;
}
.topnav > div >span{
    justify-content: space-around;
    font-family: Lucida Grande, Helvetica, Arial, sans-serif;
    font-size: 12px;
}
.topnav>div >span:nth-last-of-type(2){
    height: 62px;
    background: black;
    color: gold;
    align-content: center;
    font-size: 12px;
}
strong{
    font-size: 20px;
    margin-left: 5px;
}
.fa-question-circle{
color: #08c;
}
.fa-times-circle{
    color: #888888;
}
.fa-facebook{
    color:#01c;
}
.fa-twitter-square{
color: #09c;
}
img[alt='banner-image']{
    width: 100%;
    height: 39px;
}

img:hover{
    cursor: pointer;
}
.far-left-topnav >i{
    float: right;
    padding: 1px;
}
.far-left-topnav>p{
    float: right;
    background-color: #888888;
    color: white;
    border-radius: 3px;
    padding: 2px;
    font-size: 12px;
}
.far-left-topnav>p:hover{
    color: gold;
    cursor: pointer;
}
.fa-facebook,.fa-question-circle,.fa-twitter-square,.fa-times-circle ,.fa-user-circle :hover{
    cursor: pointer;
}
.secondnav{
    width: 80%;
    height: 36px;
    background-image: linear-gradient(#777,#444,#666); 
    margin: 0 auto;
    border-radius: 5px;
    position: absolute;
    transform: translate(12.5%,89px);
    z-index: 1;
    box-shadow: 1px 1px 1px 1px; 
    opacity: 0.95;    
}
.secondnav >ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.secondnav >ul >li{
    display: inline;
    float: left;
    padding-right: 2%;
    padding-left: 2%;
    border-right: 1px solid #666;
}
.secondnav >ul >li:nth-of-type(1){
    border-left: 0;
}
.secondnav >ul >li >a{
  display: block;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
  font-size:12px ;
  text-shadow: 1px 1px black;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
}
.secondnav > ul > li:hover {
    background-color: #444;
    color: white;
  }
  .fa-apple{
      color:white;
      margin-top: 8.5px;
  }
  .fa-search{
      position: absolute;
      padding: 2px 0px 2px 5px;
     color:white;
     margin-top: 0.79%;
     margin-left: 4%;
  }
  #input{
      border-radius: 20px;
      margin-top: 0.76%;
      background-color:inherit;
      border: 0;
      box-shadow: 1px 1px 1px 1px #555;
      height: 19.5px;
      width: 160px;
      margin-left: 4%;
      
  }
  #input:hover{
      background: white;
      width: 180px;

  }
  .fa-search:hover{
      color: black;
  }
header{
    width: 100%;
    text-align: center;
    position: absolute;
    transform: translate(0px,150px)
}

img[alt='subtitle-banner']{
    height: 80px;
}
img[alt='subtitle-banner']{
    height: 82px;
}
img[alt='under-sub']{
    height: 29px;
}
.subtitle-anchor:hover{
    border-bottom: 1px solid silver;
}

[class*="col-"] {
    float: left;
}
.col-3{
    width: 25%;
    height: 200px;
    background: gold;
    border: 1px solid white;
}
.col-3 > img{
    width: 100%;
    height: 200px;
}
footer{
    width: 100%;
    height: 100px;
    font-size: 12px;
    color:#6e6e6e;
}
footer > .left-foot{
    margin-left: 15%;
    margin-top: 1%;
}
footer >.left-foot >span:nth-of-type(2){
    margin-left: 5%;
}
footer >.left-foot >span:nth-of-type(2) > span>a{
    border-right: 1px solid silver;
    line-height: 14px;
    padding: 5px;
    color: #08c;
}
a{
    color: #08c;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
footer > .last{
    margin-left: 15%;
    margin-top: 1%;
}
img[alt='flag']{
    width: 16px;
    height: 16px;
    border-radius: 50%;
}
.herofooter::after{
	content: "";
	display: table;
	clear: both;
}