*{
    padding: 0;
    margin: 0;
    top: 0;
    box-sizing: border-box;
}
.container{
    max-width:1440px;
    margin: 0 auto;
}
#hero{
    min-height: 540px;
    display: flex;
    flex-direction: column;
    background-image: url('../image/iphones.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    z-index: 1;
}
small{
    color: #666;
    font-size: 9px;
}
img:hover{
    cursor: pointer;
}
.mynav{
    min-width: 980px;
    min-height: 36px;
    background-image: linear-gradient(#777,#444,#666); 
    margin: 0 auto;
    border-radius: 5px;
    position: absolute;
    transform: translate(16%,30px);
    z-index: 1;
    box-shadow: 1px 1px 1px 1px; 
    opacity: 0.95;   
}
.mynav >ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.mynav >ul >li{
    display: inline;
    float: left;
    padding-right: 2%;
    padding-left: 2%;
    border-right: 1px solid #666;
}
.mynav >ul >li:nth-of-type(1){
    border-left: 0;
}
.mynav >ul >li >a{
  display: block;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
  font-size:12px ;
  text-shadow: 1px 1px black;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
  min-height: 36px;
}
.mynav > ul > li:hover {
    background-image: linear-gradient(#222,#111,#444); 
    color: white;
  }
  .fa-apple{
      color:white;
      margin-top: 8.5px;
  }
  .fa-search{
      position: absolute;
      padding: 2px 0px 2px 5px;
     color:white;
     margin-top: 0.79%;
  }
  #input{
      border-radius: 20px;
      margin-top: 0.76%;
      background-color:inherit;
      border: 0;
      box-shadow: 1px 1px 1px 1px #555;
      height: 18.5px;
      width: 100px;
  }
  #input:hover{
      background: white;
      width: 180px;

  }
  .fa-search:hover{
      color: black;
  }
header{
    width: 100%;
    text-align: center;
    position: absolute;
    transform: translate(0px,150px)
}

img[alt='subtitle-banner']{
    min-height: 80px;
    min-width: 980px;
}
img[alt='subtitle-banner']{
    min-height: 82px;
    max-width: 980px;
}
img[alt='under-sub']{
    height: 29px;
}
.subtitle-anchor:hover{
    border-bottom: 1px solid silver;
}

[class*="col-"] {
    float: left;
    
}

.col-8{
    max-width: 100%;
}
.col-6{
    max-width: 50%;
    height: 27px;
}
.col-3{
    max-width: 25%;
    height: 200px;
    border: 1px solid white;
}
.col-3 > img{
    max-width: 100%;
    height: 200px;
}
footer{
    max-width:1460px;
    font-size: 12px;
    color:#6e6e6e;
}
.ryt-foot {
    border-right: 1px solid silver;
    padding-right: 5px;
}
.cont{
    margin-left: 15%;
    margin-top: 2%;
}
.span-ryt{
    margin-left: 50px;
}
.Copyright >span{
    height: 27px;
    margin-left: 15%;
}
.cont::after{
    content: "";
    clear: both;
    display: table;
}
a{
    color: #08c;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
img[alt='flag']{
    width: 16px;
    height: 16px;
    border-radius: 50%;
}
.herofooter{
    max-width: 100%;
}
.herofooter::after{
	content: "";
	display: table;
	clear: both;
}